.blog-single .single-blog h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog-single .single-blog h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-single .single-blog h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.single-blog div p img {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px 0px !important;
  overflow: hidden;
}

.article-content .code-block {
  position: relative;
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  padding: 16px;
  overflow: auto;
  font-family: monospace;
  color: #24292e;
  white-space: pre;
  margin: 10px 0;
}

.article-content button.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2ea44f;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.article-content button.copy-button:hover {
  background-color: #22863a;
}

.article-content button.copy-button:active {
  background-color: #1c7c29;
}

.logo {
  color: #141414;
  font-size: 30px;
  font-weight: 600;
}

.article-content p {
  text-align: justify;
}

.article-content em {
  font-weight: 700;
}

.article-banner {
  max-width: 870px;
  max-height: 500px;
}

.feature-post-thumb-max-size {
  max-width: 570px;
  max-height: 400px;
}